<div class="container-fluid">
  <div class="main">
    <%= render "header" %>
    
    <div class="row">
      <div class="contents">
        <div class="col-md-12">
          <%= image_tag "vegetables.jpg", onmouseover: "this.src='assets/brittney.jpg'", onmouseout: "this.src='assets/vegetables.jpg'", alt: "イメージ", size: "800x600", class: "rounded-circle"%>
          <div class="contents-box">
            おすそわけ
          </div>
          <div class="btn-group" role="group">
          <% if user_signed_in? %>
            <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              気になる
            </button>
            <% if current_user.status == 0 %>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <%=link_to "おすそわけの品を見てみる", new_user_session_path, class: "dropdown-item"%>
            </div>
            <% else %>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <%=link_to "おすそわけする", new_product_path, class: "dropdown-item"%>
              <%=link_to "おすそわけの品を見てみる", new_user_session_path, class: "dropdown-item"%>
            </div>
            <% end %>
          <% else %>
            <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              気になる
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <%=link_to "新規登録して利用する", new_user_registration_path, class: "dropdown-item"%>
            </div>
          <% end %>
        </div>
        <div class="col-12">
          <div class="contents-block">
            <% @product.each do |product| %>
              <div class="product-name">
                <%= product.name%>
              </div>
              <div class="product-image">
                <%= image_tag product.images[0].src.url, size: "200x200"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>